<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Consulta</title>
    <link rel="stylesheet" href="../public/css/global.css" type="text/css">
    <link rel="stylesheet" href="../public/css/CCons.css" type="text/css">
</head>
<body>
    <main class="Contorno Principal">
        <div class="BannerLogo">
            <img src="../public/img/Logo - Marca/LetraMMnegroFT.png">
        </div>
        <div>
            <nav class="OpcionesMenu">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="quienesSomos.html">Quienes somos</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="formularioEnvio.html">Mi carrito</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </main>

    <h1>¡Consulta enviada correctamente!</h1>
    <p>Gracias por contactarnos. Nos pondremos en contacto contigo lo antes posible.</p>

    <div class="opciones">
        <a href="index.html" class="boton">Ir a la página principal</a>
        <!-- Puedes añadir más opciones según tus necesidades -->
    </div>

    <p></p>

    <footer class="credito">
        <p>Derechos Reservados &copy; 2024 - Ruth Gomez</p>
    </footer>
</body>
</html>
