<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="../public/css/global.css" type="text/css">
    <link rel="stylesheet" href="../public/css/index.css" type="text/css">
    <script src="../public/js/scriptIndex.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <main class="Contorno Principal">
        <div class="BannerLogo">
            <img src="../public/img/Logo - Marca/LetraMMnegroFT.png">
        </div>
        <div>
            <nav class="OpcionesMenu">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="quienesSomos.html">Quienes somos</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="formularioEnvio.html">Mi carrito</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </main>

    <h1>Bienvenido a nuestra tienda</h1>
    <div class="collage" id="collage-productos">
        <!-- Aquí se generarán dinámicamente los productos -->
    </div>

    <footer class="credito">
        <p>Derechos Reservados &copy; 2024 - Ruth Gomez</p>
    </footer>

</body>
</html>
