/*** Cabecera Principal ***/
body {
    font-family: 'Callem', cursive;
    color: purple;
  }
  
  .ContornoPrincipal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
  }
  
  .BannerLogo {
    text-align: center;
    margin: 0 auto;
    padding: 1em 0;
    background-color: #d8bfd8;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .BannerLogo img {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 0 auto;
  }
  
  .OpcionesMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    text-align: center;
    background-color: #d8bfd8;
    border: 1px solid #ccc;
    border-radius: 4px;
    gap: 1rem;
  }
  
  .OpcionesMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .OpcionesMenu li {
    margin: 0 0.5em;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
  }
  
  .OpcionesMenu a {
    display: block;
    text-decoration: none;
    color: purple;
    margin: 0;
    padding: 0 1em;
    font-size: 1.5rem;
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .OpcionesMenu a:hover {
    background-color: #a963bc;
  }
  
  .credito {
    text-align: center;
    background-color: #d8bfd8;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    padding: 2em;
  }
  
  /* Responsive - adaptacion de formato de dispositivos */
  @keyframes saltar {
    0% {
      transform: translate(-50%, 15px);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
  
  @media (max-width: 768px) {
    .ContornoPrincipal {
      padding: 1em;
    }
  
    .BannerLogo img {
      max-width: 900px;
    }
  
    .OpcionesMenu li {
      padding: 0.5em;
    }
  
    .ProductosContenedores {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .ProductosContenedores {
      grid-template-columns: 1fr;
    }
  }
  
  @media (min-width: 1024px) {
    .ProductosContenedores {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
  